* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 1fr 400px 1fr;
}

/* start button*/

button.start {
    align-self: center;
    justify-self: center;

    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;

    border-radius: 25%;
    border-width: 3px;
    border-color: black;

    box-shadow: black;

    margin-left: 20px;
    margin-top: 5px;

    cursor: pointer;
}


h1 {
    position: absolute;
    font-size: 2em;
    color: black;
    letter-spacing: -1px;
    margin-top: 5px;
    margin-right: 20px;
    top: -4px;
    right: 5px;
}

div.but {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: start;
    justify-self: center;
}

.game {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    width: 400px;
    height: 400px;
}

@media (min-width: 768px) {
    body {
        grid-template-columns: 1fr 600px 1fr;
        grid-template-rows: 1fr 600px 1fr;
    }
    
    .game {
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 1281px) {
    body {
        grid-template-columns: 1fr 750px 1fr;
        grid-template-rows: 1fr 750px 1fr;
    }
    
    .game {
        width: 750px;
        height: 750px;
    }
}